<div class="product-show">
<h1>Category Name</h1>
<strong> <%= @category.name %></strong>

<h2>Products List</h2>

<div class="lists">
<%= render :partial => "products/index" %>
</div>
<div class="products">
<h2>Add Product</h2>
<%= render :partial => "products/form" %>
</div>

</div>